#content {
    width: 65%;
    min-height: 350px;
    text-align: left;
    padding: 10px;
    font-family: Roboto, sans-serif;
    margin: 20px auto;
    background-color: #AAA;
    border-radius: 3px;
}

#content h2 {
    color: #333;
    text-align: center;
}